<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Health Assistant</h1>
        {% if session.logged_in %}
            <p>Welcome, {{ session.current_user }}</p>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>